@model HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista</h2>

<main>

    <h4 class="card-header">Produtos</h4>
    <ul class="">
        @foreach (var produto in Model.Produtos)
        {
            <partial name="~/Views/Shared/Produto.cshtml" model="produto" />
        }
    </ul>
</main>
